{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-3 p-0">

            <div class="bl-sidebar border-end p-3">
                <h3>Streak</h3>

                <!-- Justify content between -->
                <div class="d-flex justify-content-between h4">
                    <i class="bi bi-1-circle-fill"></i>
                    <i class="bi bi-2-circle-fill"></i>
                    <i class="bi bi-3-circle"></i>
                    <i class="bi bi-4-circle"></i>
                    <i class="bi bi-5-circle"></i>
                </div>

                <h3 class="mt-3">Insights</h3>

                <h5>Top studied languages</h5>
                <!-- progress bars -->
                <div class="progress-wrapper">
                    <div class="progress-label">SQL</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 80%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">Python</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 65%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">PHP</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">Java</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">C++</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 30%"></div>
                    </div>
                </div>

                <br>

                <!-- line chart -->
                <h5>Lessons completed</h5>
                
                <div class="trend-chart">
                    <canvas id="line-chart"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js">//pulls table renderer</script>
                    <script>
                        //get past few weeks for data label
                        function getPastWeeks() {
                            const today = new Date();
                            const labels = [];
                            for (let i = 5; i >= 0; i--) {
                                const date = new Date(today);
                                date.setDate(date.getDate() - (i * 7));
                                const day = date.getDate();
                                const month = date.toLocaleString('default', { month: "short" });
                                labels.push(`${day} ${month}`);
                            }
                            return labels;
                        }
                        const data = { //data for table
                            labels: getPastWeeks(),
                            datasets: [{
                                label: '',
                                data: [12, 15, 10, 5, 13, 3],
                                borderColor: 'rgb(255,255,255)',
                                borderWidth: 2,
                                fill: false
                            }]
                        };
                        const options = { // table options (need to find out how to take off the box, its related to tile but idk how to remove it)
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }, legend:{
                                display: false
                            }
                        };


                        const ctx = document.getElementById('line-chart').getContext('2d');

                        // Create the line chart
                        const lineChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: options
                        });
                    </script>
                    
                </div>

                <h3 class="mt-3">Quests</h3>

                <h3>Announcements</h3>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="offcanvas" data-bs-target="#announcements-offcanvas">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="announcements-offcanvas" aria-labelledby="offcanvas-title-1">
                        <div class="offcanvas-end">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            <h5 class="offcanvas-title" id="offcanvas-title-1" style="padding: 1rem;">Announcements</h5>
                        </div>
                        <div class="offcanvas-body">
                            <div style="padding-left: 1rem;">
                                Some text as placeholder. will inser a sample announcement later
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-10 col-sm-9 p-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>My Recent Modules</h2>
                <button type="button" style="margin-right: 10px;">Join a module</button>
            </div>
            <!-- <p>This is where your main content goes.</p> -->

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <p class="card-text">
                                Module description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <p class="card-text">
                                Module description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h2>Recommended for you</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <p class="card-text">
                                Module description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <p class="card-text">
                                Module description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}