{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-3 p-0">
            {% include "components/sidebar.html" %}
        </div>
        <div class="col-md-10 col-sm-9 p-3">
            <h2>My Recent Modules</h2>
            <p>This is where your main content goes.</p>

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <p class="card-text">
                                Module description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="#" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <p class="card-text">
                                Module description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="#" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}