{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Navbar component -->
<nav class="navbar navbar-expand-lg"
    style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="/home">
            <img src="{{ url_for('static', filename='images/UWE-logo.png') }}" alt="Logo" height="34"
                class="d-inline-block">
            <span class="align-self-center ps-3">
                ByteLearn
            </span>
        </a>


        <div class="d-flex gap-3 align-items-center" role="search">
            <!-- Open join module modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Join module
            </button>

            <a href="#search">
                <i class="bi bi-search"></i>
            </a>
            <a href="#announcements-offcanvas">
                <i class="bi bi-bell"></i>
            </a>
            <a href="/account">
                <i class="bi bi-person"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-2 col-sm-3 p-0">

            <div class="bl-sidebar border-end p-3">
                <h3>Streak</h3>

                <!-- Justify content between -->
                <div class="d-flex justify-content-between h4">
                    <i class="bi bi-1-circle-fill"></i>
                    <i class="bi bi-2-circle-fill"></i>
                    <i class="bi bi-3-circle"></i>
                    <i class="bi bi-4-circle"></i>
                    <i class="bi bi-5-circle"></i>
                </div>

                <h3 class="mt-3">Insights</h3>

                <h4 class="h6">Top studied languages</h4>
                <!-- progress bars -->
                <div class="progress-wrapper">
                    <div class="progress-label">SQL</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 80%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">Python</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 65%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">PHP</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">Java</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-label">C++</div>
                    <div class="progress" role="progressbar" aria-label="SQL Progress" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 30%"></div>
                    </div>
                </div>

                <br>

                <!-- line chart -->
                <h4 class="h6">Lessons completed</h4>

                <div class="trend-chart">
                    <canvas id="line-chart"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js">//pulls table renderer</script>
                    <script>
                        //get past few weeks for data label
                        function getPastWeeks() {
                            const today = new Date();
                            const labels = [];
                            for (let i = 5; i >= 0; i--) {
                                const date = new Date(today);
                                date.setDate(date.getDate() - (i * 7));
                                const day = date.getDate();
                                const month = date.toLocaleString('default', { month: "short" });
                                labels.push(`${day} ${month}`);
                            }
                            return labels;
                        }
                        const data = { //data for table
                            labels: getPastWeeks(),
                            datasets: [{
                                label: '',
                                data: [12, 15, 10, 5, 13, 3],
                                borderColor: 'rgb(255,255,255)',
                                borderWidth: 2,
                                fill: false
                            }]
                        };
                        const options = { // table options (need to find out how to take off the box, its related to tile but idk how to remove it)
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }, legend: {
                                display: false
                            }
                        };


                        const ctx = document.getElementById('line-chart').getContext('2d');

                        // Create the line chart
                        const lineChart = new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: options
                        });
                    </script>

                </div>

                <h3 class="mt-3">Quests</h3>

                <div class="mb-2">
                    <h4 class="h6">Answer Questions about loops in PHP</h4>
                    <div class="mt-2">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar text-bg-success" style="width: 50%"></div>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <h4 class="h6">Complete a challenge question in SQL</h4>
                    <div class="mt-2">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="1"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar text-bg-success" style="width: 50%"></div>
                        </div>
                    </div>
                </div>


                <!-- announcements Sidebar -->
                <h3>Announcements</h3>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="offcanvas"
                        data-bs-target="#announcements-offcanvas">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="announcements-offcanvas"
                        aria-labelledby="offcanvas-title-1">
                        <div class="offcanvas-end">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                            <h5 class="offcanvas-title" id="offcanvas-title-1" style="padding: 1rem;">Announcements</h5>
                        </div>
                        <div class="offcanvas-body">
                            <div style="padding-left: 1rem;">

                                <div class="col-md-12 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-2">
                                            </div>
                                            <h7 class="card-subtitle mb-2 text-body-secondary">Dr John Smith</h7>
                                            <h4 class="card-title">New Assignment</h4>
                                            <p class="card-text">
                                                Hello all, please complete the ‘Into to Python’ module I have assigned
                                                to you. Your score will contribute towards your final module assessment
                                                grade.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-12 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-2">
                                            </div>
                                            <h7 class="card-subtitle mb-2 text-body-secondary">Dr Jenny Williams</h7>
                                            <h4 class="card-title">Lecture follow-up</h4>
                                            <p class="card-text">
                                                Following todays lecture on web development, please study the ‘PHP
                                                basics’ module to further your understanding.
                                            </p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-12 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-2">
                                            </div>
                                            <h7 class="card-subtitle mb-2 text-body-secondary">Dr Rob Evans</h7>
                                            <h4 class="card-title">Further reading</h4>
                                            <p class="card-text">
                                                Now we have completed the basics of Python in class, you may wish to
                                                expand further by completing the ‘Advanced Python’ module.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-12 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-2">
                                            </div>
                                            <h7 class="card-subtitle mb-2 text-body-secondary">Mr Martin Harris</h7>
                                            <h4 class="card-title">Tutorial session</h4>
                                            <p class="card-text">
                                                For this weeks tutorial, please complete the ‘Advanced SQL’ module, you
                                                will need a solid understanding of the advanced topics in preparation
                                                for your assignment.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Main content -->
        <div class="col-lg-10 col-sm-9 p-3">
            <div class="row">
                <div class="col-12">
                    <h2>My Recent Modules</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">Python</span>
                            </div>
                            <h5 class="card-title">Introduction to Python</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">HTML</span>
                                <span class="badge text-bg-secondary">CSS</span>
                                <span class="badge text-bg-secondary">JavaScript</span>
                            </div>
                            <h5 class="card-title">Fundamentals of web development</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">HTML</span>
                                <span class="badge text-bg-secondary">PHP</span>
                            </div>
                            <h5 class="card-title">PHP basics</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <h2>Recommended For You</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">SQL</span>
                            </div>
                            <h5 class="card-title">Advanced SQL</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Byte Sized Learning</h6>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="badge text-bg-secondary">PHP</span>
                                <span class="badge text-bg-secondary">HTML</span>
                                <span class="badge text-bg-secondary">SQL</span>
                            </div>
                            <h5 class="card-title">Advanced PHP</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Year 1 (Dr John Smith)</h6>
                            <div class="d-flex flex-row-reverse">
                                <a href="/moduleview" class="btn btn-primary">See module</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Join module</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Module Code"">
                    <button type="button" class="btn btn-primary" id="button-add-on-1">Find module</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}