{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Navbar component -->
<nav class="navbar navbar-expand-lg"
    style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="/home">
            <img src="{{ url_for('static', filename='images/UWE-logo.png') }}" alt="Logo" height="34"
                class="d-inline-block">
            <span class="align-self-center ps-3">
                ByteLearn
            </span>
        </a>

        <div class="d-flex gap-3" role="search">
            <a href="#search">
                <i class="bi bi-search"></i>
            </a>
            <a href="#notifications">
                <i class="bi bi-bell"></i>
            </a>
            <a href="/account">
                <i class="bi bi-person"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-2 col-sm-3 p-0">

            <div class="bl-sidebar border-end p-3">
                <h3>Introduction to Python</h3>
                <br>
                <h6><strong>Module Leader</strong>: Dr John Smith</h6>
                <h6><strong>Module year</strong>: 1</h6>
                <h6><strong>Module code</strong>: 133-468-93</h6>
                <br>
                <p>Welcome to introduction to python, in this module you'll learn the basics of python. From simple print statements to more complex matters such as object oriented programming.</p>
            </div>

        </div>
        
        <!-- Main content -->
        <div class="col-md-10 col-sm-9 p-3">

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 50%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 1</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 30%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 2</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 30%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 3</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 30%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 4</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 30%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 5</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 30%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 6</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}