{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-3 p-0">

            <div class="bl-sidebar border-end p-3">
                <h3>Introduction to Python</h3>
            </div>

        </div>
        <div class="col-md-10 col-sm-9 p-3">

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 50%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 1</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar text-bg-success" style="width: 30%"></div>
                                </div>
                            </div>
                            <h5 class="card-title">Python lesson 1</h5>
                            <p class="card-text">
                                Lesson description
                            </p>
                            <div class="d-flex flex-row-reverse">
                                <a href="/lessonview" class="btn btn-primary">Resume lesson</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}