.bl-sidebar {
    padding-top: 20px;
    height: 100vh;
    padding: 0;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Adjust as needed */
}

.progress-label {
    flex: 0 0 60px;
    /* Adjust width of language name column */
    text-align: left;
    margin-right: 10px;
    /* Space between label and progress bar */
}

.progress {
    flex-grow: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust if needed */
}


/* Output console */
.output {
    font-family: 'Hack';
    white-space: pre;
    max-height: 300px;
    overflow-y: auto;
}

.input {
    background-color: var(--bs-sable-900-hsl);
    border: none;
    color: var(--bs-body-color);
    width: 100%;
    margin-top: 10px;
}

.input:focus {
    outline: none;
}
